version: '3.8'

services:
  whier:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: whier-app
    restart: always
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
    networks:
      whier-network:
        ipv4_address: 172.18.0.11

networks:
  whier-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
